# Python
*.py[cod]
*$py.class
__pycache__/
.Python
env/
venv/
.venv/
env.bak/
venv.bak/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/

# Media (User uploaded files)
media/
.tempmediaStorage/

# IDE and OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
.gemini/
